

@if (Web.Models.Autorizacion.TienePermiso(BL.RolesMenu.menu_periodo_todo))
{
    <div class="row">
        <div class="col s12 m12 l12">
            <div id="bordered-table" class="card card card-default scrollspy">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s8 m6 l10">
                                <h4 class="card-title">GESTIONAR PERIODO ACADÉMICO</h4>
                            </div>
                            <div class="col s4 m6 l2">
                                <a class="btn-small blue right" href="@Url.Action("Mantener","Periodo", new {id=0})"><i class="material-icons left">add</i>Nuevo</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" name="denominacion" id="denominacion" placeholder="BUSCAR PERIODO ACADÉMICO" />
                    </div>

                    <div class="row">
                        <div class="col s12">
                        </div>
                        <div class="col s12">
                            <table class="bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Denominacion</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Activo</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tbd_periodos">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div id="bordered-table" class="card card card-default scrollspy">
                                <div class="col-md-12 center text-center">
                                    <div id="Encontrado">
                                        <span>
                                            <label id="TotalRegistros"></label> registros encontrados
                                        </span>
                                        <span>&nbsp;|&nbsp;</span>
                                        <span>
                                            Página <label id="PaginaActual"></label> de
                                            <label id="TotalPaginas"></label>
                                        </span>
                                    </div>
                                    <div class="row" id="NoEncontrado">
                                        <span>&nbsp;|&nbsp;</span>
                                        <span>No hay resultados de la búsqueda</span>
                                        <span>&nbsp;|&nbsp;</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-small blue" id="inicio_periodos"><<</button>
                                        <span></span>
                                        <button class="btn btn-small blue" id="anterior_periodos">Anterior</button>

                                        <button class="btn btn-small blue" id="siguiente_periodos">Siguiente</button>
                                        <span></span>
                                        <button class="btn btn-small blue" id="ultimo_periodos">>></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{

}

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/paginador/paginador.js"></script>
<script>

    var currentPage = 1;
    var pageCount = 0;

    $(document).ready(function () {
        //START PAGINATION 'PERIODO'
        paginadorFuncPeriodos($("#denominacion").val(),currentPage);

        $("#inicio_periodos").click(function () {
            paginadorFuncPeriodos($("#denominacion").val(),1);
        });
        $("#siguiente_periodos").click(function () {
            paginadorFuncPeriodos($("#denominacion").val(),currentPage + 1);
        });
        $("#ultimo_periodos").click(function () {
            paginadorFuncPeriodos($("#denominacion").val(),pageCount);
        });
        $("#anterior_periodos").click(function () {
            paginadorFuncPeriodos($("#denominacion").val(),currentPage - 1)
        });
    });

    //Filter Period denomination
    $("#denominacion").on('input', function () {
        paginadorFuncPeriodos($("#denominacion").val(), 1)
    });

    //PAGINATION 'PERIODO'
    var paginadorFuncPeriodos = function (denominacion, pagina) {
        var envio = {
            denominacion: denominacion,
            pagina: pagina > 0 ? pagina : 1
        }
        $.ajax({
            url: '@Url.Action("Tabla","Periodo")',
            data: JSON.stringify(envio),
            type: 'POST',
            async: false,//this makes the ajax-call blocking
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            success: function (rm) {
                var Listado = rm.result.Listado;
                var PaginaActual = rm.result.PaginaActual;
                var RegistrosPorPagina = rm.result.RegistrosPorPagina;
                var TotalPaginas = rm.result.TotalPaginas;
                var TotalRegistros = rm.result.TotalRegistros;

                pageCount = rm.result.TotalPaginas;
                currentPage = rm.result.PaginaActual;


                if (Listado.length > 0) {
                    $("#NoEncontrado").hide();
                    $("#TotalRegistros").html(TotalRegistros);
                    $("#PaginaActual").html(PaginaActual);
                    $("#TotalPaginas").html(TotalPaginas);
                    $("#tbd_periodos").empty();
                    fillPaginatorPeriodos("#tbd_periodos", Listado)
                }
                else {
                    $("#Encontrado").hide();
                }

                deshabilitarBotones(rm.result, 'periodos')
            }
        });
    }

    function fillPaginatorPeriodos(id, list) {
        list.forEach(function (item, index) {
            // Format date 'Fecha Inicio' from asp.net format to datetime
            var date = new Date(parseInt((item.FechaInicio).toString().substring(6)));
            var mydate = new Date(date);
            var getMonth = mydate.getMonth() + 1;
            var getDay = mydate.getDate();
            var getYear = mydate.getFullYear();
            var getHour = mydate.getHours();
            var getMinute = mydate.getMinutes();
            var fecha_inicio = (getDay < 10 ? '0' : '') + getDay + '/' + (getMonth < 10 ? '0' : '') + getMonth + '/' + getYear + ' ' + (getHour < 10 ? '0' : '') + getHour + ':' + (getMinute < 10 ? '0' : '') + getMinute;

            // Format date 'Fecha Fin' from asp.net format to datetime
            var datetime = new Date(parseInt((item.FechaFin).toString().substring(6)));
            var mydate = new Date(datetime);
            var getMonth = mydate.getMonth() + 1;
            var getDay = mydate.getDate();
            var getYear = mydate.getFullYear();
            var getHour = mydate.getHours();
            var getMinute = mydate.getMinutes();
            var fecha_fin = (getDay < 10 ? '0' : '') + getDay + '/' + (getMonth < 10 ? '0' : '') + getMonth + '/' + getYear + ' ' + (getHour < 10 ? '0' : '') + getHour + ':' + (getMinute < 10 ? '0' : '') + getMinute;


            const button = `<td style="padding:0">
                                <a href="Periodo/Mantener/${item.Id}"><i class="material-icons">edit</i></a>
                            </td>
                            `
            var estado = '';

            //Validate checkbox material icons if a period is active or not
            if (item.Estado) {
                estado = `<a href="#"><i class="material-icons">check_circle</i></a>`
            } else {
                estado = `<a href="#"><i class="material-icons red-text">remove_circle</i></a>`
            }

            fillTable(id,
                { keyword: 'periodo', id: item.Id },
                item.Id,
                item.Denominacion,
                fecha_inicio,
                fecha_fin,
                estado,
                { isExtra: true, value: button }
            )

        });

    }

</script>
