
<div class="row">
    <div class="col s12 m12 l12">
        <div id="bordered-table" class="card card card-default scrollspy">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s8 m6 l10">
                            <h4 class="card-title">GESTIONAR ALUMNOS</h4>
                        </div>
                        <div class="col s4 m6 l2">
                            <a class="btn-small blue right" href="@Url.Action("Mantener","Alumno", new { id=0})"><i class="material-icons left">add</i>Nuevo</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="text" name="dni" id="dni" placeholder="BUSCAR ALUMNO POR DNI" />
                </div>
                <div class="row">
                    <div class="col s12">
                    </div>
                    <div class="col s12" id="demo">
                        <table class="bordered" id="tblAlumnos">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>DNI</th>
                                    <th>Nombre</th>
                                    <th>Celular</th>
                                    <th>Correo</th>
                                    <th>Activo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbd_alumnos">
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div id="bordered-table" class="card card card-default scrollspy">
                            <div class="col-md-12 center text-center">
                                <div id="Encontrado">
                                    <span>
                                        <label id="TotalRegistros"></label> registros encontrados
                                    </span>
                                    <span>&nbsp;|&nbsp;</span>
                                    <span>
                                        Página <label id="PaginaActual"></label> de
                                        <label id="TotalPaginas"></label>
                                    </span>
                                </div>
                                <div class="row" id="NoEncontrado">
                                    <span>&nbsp;|&nbsp;</span>
                                    <span>No hay resultados de la búsqueda</span>
                                    <span>&nbsp;|&nbsp;</span>
                                </div>
                                <div>
                                    <button class="btn btn-small blue" id="inicio_alumnos"><<</button>
                                    <span></span>
                                    <button class="btn btn-small blue" id="anterior_alumnos">Anterior</button>

                                    <button class="btn btn-small blue" id="siguiente_alumnos">Siguiente</button>
                                    <span></span>
                                    <button class="btn btn-small blue" id="ultimo_alumnos">>></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

}

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/paginador/paginador.js"></script>
<script>

    var currentPage = 1;
    var pageCount = 0;

    $(document).ready(function () {
        //START PAGINATION 'STUDENT'
        paginadorFuncAlumnos($("#dni").val(),currentPage);

        $("#inicio_alumnos").click(function () {
            paginadorFuncAlumnos($("#dni").val(),1);
        });
        $("#siguiente_alumnos").click(function () {
            paginadorFuncAlumnos($("#dni").val(),currentPage + 1);
        });
        $("#ultimo_alumnos").click(function () {
            paginadorFuncAlumnos($("#dni").val(),pageCount);
        });
        $("#anterior_alumnos").click(function () {
            paginadorFuncAlumnos($("#dni").val(),currentPage - 1)
        });
    });

    //Filter Student denomination
    $("#dni").on('input', function () {
        paginadorFuncAlumnos($("#dni").val(), 1)
    });

    //PAGINATION 'STUDENT'
    var paginadorFuncAlumnos = function (dni, pagina) {
        var envio = {
            dni: dni,
            pagina: pagina > 0 ? pagina : 1
        }
        $.ajax({
            url: '@Url.Action("Tabla","Alumno")',
            data: JSON.stringify(envio),
            type: 'POST',
            async: false,//this makes the ajax-call blocking
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            success: function (rm) {
                var Listado = rm.result.Listado;
                var PaginaActual = rm.result.PaginaActual;
                var RegistrosPorPagina = rm.result.RegistrosPorPagina;
                var TotalPaginas = rm.result.TotalPaginas;
                var TotalRegistros = rm.result.TotalRegistros;

                pageCount = rm.result.TotalPaginas;
                currentPage = rm.result.PaginaActual;


                if (Listado.length > 0) {
                    $("#NoEncontrado").hide();
                    $("#TotalRegistros").html(TotalRegistros);
                    $("#PaginaActual").html(PaginaActual);
                    $("#TotalPaginas").html(TotalPaginas);
                    $("#tbd_alumnos").empty();
                    fillPaginatorAlumnos("#tbd_alumnos", Listado)
                }
                else {
                    $("#Encontrado").hide();
                }

                deshabilitarBotones(rm.result, 'alumnos')
            }
        });
    }


    function fillPaginatorAlumnos(id, list) {
        // foreach 'Listado' for recover data 
        list.forEach(function (item, index) {
            const button = `<td style="padding:0">
                                <a href="Alumno/Mantener/${item.Id}"><i class="material-icons">edit</i></a>
                                <a href="Alumno/Eliminar/${item.Id}"><i class="material-icons">delete</i></a>
                            </td>
                            `
            var estado = '';

            //Validate checkbox material icons if a student is active or not
            if (item.Estado) {
                estado = `<a href="#"><i class="material-icons">check_circle</i></a>`
            } else {
                estado = `<a href="#"><i class="material-icons red-text">remove_circle</i></a>`
            }

            //Fill 'Alumno' table with data send from controller

            fillTable(id,
                { keyword: 'alumno', id: item.Id },
                item.Id,
                item.Dni,
                item.AlumnoNombres,
                item.Celular,
                item.Correo,
                estado,
                { isExtra: true, value: button }
            )

        });

    }

</script>



